h1 {
    background: #B0C4DE;
}

code {
    font-size: 15px;
}

/* Box Model */
#bm-margin {
    border-color: #000;
    border-style: dotted;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: #F0F8FF;
}

#bm-border {
    border-color: #5F9EA0;
    border-style: solid;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: #5F9EA0;
}

#bm-padding {
    border-color: #5F9EA0;
    border-style: solid;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: #F0F8FF;
}

#bm-content {
    border-color: #000;
    border-style: dotted;
    padding: 20px 30px;
    background: white;
}

.bm-common {
    border-width: 2px;
    border-radius: 5px;
    text-align: center;
}

/* Layout */
.inline-list {
    display: inline;
}

.span-as-block {
    display: block;
    margin: 3px;
    width: 30%;
}

.inline-list, .span-as-block, .div-as-inline-block {
    border-width: 2px;
    border-color: #000;
    border-style: solid;
    padding: 10px;
}

.div-as-inline-block {
    display: inline-block;
    height: 50px;
    width: 50px;
}

#positioning {
    width: 30%;
}

#imgLeft {
    float: left;
}

#imgRight {
    float: right;
}

#clear-the-left-image {
    clear: left;
}

#clear-the-right-image {
    clear: right;
}

#clear-both-image {
    clear: both;
}

#outer-div, #inner-div {
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    width: 30%;
}

#inner-div {
    position: relative;
    left: 50px;
}

#absolute-div {
    position: absolute;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    top: -37px;
    right: 0;
    padding: 30px;
    background: yellow;
}

#fixed-div {
    position: fixed;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: pink;
}

#outer-div-relative {
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    position: relative;
    left: 50px;
    width: 30%;
}
#inner-div-absolute {
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    left: 50px;
    top: 29px;
}

/* Circle */
.circle {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: blue;
    border-width: 2px;
    text-align: center;
    line-height: 200px;
    top: 40px;
    margin-bottom: 70px;
}

/* Background */
.bg-properties, .bg-properties2, .bg-properties3, .bg-properties4 {
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    right: 0;
    bottom: 0;
    padding: 30px;
    width: 50%;
    background-color: orange;
    background-attachment: scroll;
}

.bg-properties {
    background-image: url("http://placehold.it/100x100");
    background-repeat: no-repeat;
    background-position: right top;
}

.bg-properties2 {
    background-image: url("http://placehold.it/50x50");
    background-repeat: repeat-y;
    background-position: left top;
}

.bg-properties3 {
    background-image: url("http://placehold.it/50x50");
    background-repeat: repeat;
    background-position: left top;
}

.bg-properties4 {
    background-color: purple;
    background-image: url("http://placehold.it/50x50");
    background-repeat: repeat-x;
    background-position: left top;
}

/* Text */
.text-properties, .text-properties2, .text-properties3, .text-properties4, .text-properties5 {
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    right: 0;
    bottom: 0;
    padding: 30px;
    width: 50%;
}

.text-properties {
    color: green;
    direction: ltr;
    letter-spacing: 4px;
    line-height: 5px;
    text-align: left;
    text-decoration: overline;
    text-shadow: 2px 2px #ff0000;
}

.text-properties2 {
    color: blue;
    direction: rtl;
    letter-spacing: -2px;
    line-height: 25px;
    text-decoration: line-through;
}

.text-properties3 {
    color: blue;
    letter-spacing: 13px;
    line-height: 45px;
    text-align: right;
    text-decoration: underline;
}

.text-properties4 {
    color: pink;
    line-height: 3px;
}

.text-properties5 {
    text-indent: 75px;
    text-transform: uppercase;
    word-spacing: 20px;
}
